* {
    margin: 0;
    padding: 0;
}





/* Navbar */
nav {
    height: 10vh;
    width: 100%;

}

.links {
    list-style: none;
    display: flex;
    width: 50%;
    float: right;
    align-items: center;
    justify-content: space-around;
    height: 100%;

}

.links li a {
    cursor: pointer;
    font-family: 'Varela Round',
        sans-serif;
    color: rgb(0, 0, 0);
    text-decoration: none;
    transition: 100ms;
    font-size: 20px;
}

.links li a:hover {
    border-bottom: 3px solid rgb(0, 0, 0);
}

/* Dropdown */
.dropdownmenu {
    opacity: 0;
    pointer-events: none;
    position: absolute;
    right: 21%;
    top: 8%;
    display: flex;
    flex-direction: column;
    list-style: square;
    transition: 200ms;

}

.dropdownmenu li {
    padding-bottom: 10px;
}

.dropdownmenu li a {
    color: black;
    text-decoration: none;
    font-family: 'Varela Round',
        sans-serif;
}

.dropdownmenu li a:hover {
    border-bottom: 2px solid rgb(0, 0, 0);
}

.dropdownmenu.active {
    opacity: 1;
    pointer-events: all;
}


/* wrap */

.wrap {
    font-family: 'Quicksand',
        sans-serif;
    width: 90%;
    padding: 20px;
    height: 100vh;
    margin: 50px auto;
}

.wrap .creator1 {
    display: flex;
    padding: 20px;
}

.wrap .creator1 img {
    margin-top: 20px;
    border-radius: 200px;
}

.wrap .creator1 h1 {
    margin-top: 70px;
    margin-left: 20px;
    border: 3px solid black;
    height: 50px;
    padding: 10px;
    border-radius: 10px;
    font-size: 30px;
}

.wrap .creator1 button {
    height: 40px;
    color: white;
    background-color: red;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    padding: 5px;
    margin-top: 120px;
    margin-left: -115px;
}

/* Utulities */

#judo {
    margin-top: 125px;
    margin-left: -245px;
}

#iwan {
    margin-top: 125px;
    margin-left: -155px;
}

#scot {
    margin-top: 125px;
    margin-left: -135px;
}